# Statements Assessment Test
Let's test your knowledge!

_____
**Use <code>for</code>, .split(), and <code>if</code> to create a Statement that will print out words that start with 's':**

In [3]:
st = 'Print only the words that start with s in this sentence'

In [7]:
#Code here
results = [x for x in st.split(" ") if x[0].lower() == "s"]
print(results)

['start', 's', 'sentence']

______
**Use range() to print all the even numbers from 0 to 10.**

In [13]:
#Code Here
print("Value {0}".format([x for x in range(0,11) if x%2 == 0]))

Value [0, 2, 4, 6, 8, 10]

___
**Use a List Comprehension to create a list of all numbers between 1 and 50 that are divisible by 3.**

In [14]:
#Code in this cell
[x for x in range(1,50) if x%3 == 0]

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

_____
**Go through the string below and if the length of a word is even print "even!"**

In [16]:
st = 'Print every word in this sentence that has an even number of letters'

In [17]:
#Code in this cell
[x for x in st.split(" ") if len(x)%2 == 0]

['word', 'in', 'this', 'sentence', 'that', 'an', 'even', 'number', 'of']

____
**Write a program that prints the integers from 1 to 100. But for multiples of three print "Fizz" instead of the number, and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".**

In [22]:
#Code in this cell
total_numbers = range(1,100)


for x in total_numbers:
    display = ""
    if (x%3 == 0) and (x%5 == 0):
        display = "FizzBuz"
    elif (x%3 == 0):
        display = "Fizz"
    elif (x%5 == 0):
        display = "Buzz"
    else:
        pass
    
    if (display != ""):
        print("Number {0} results in {1}".format(x, display))

Number 3 results in Fizz
Number 5 results in Buzz
Number 6 results in Fizz
Number 9 results in Fizz
Number 10 results in Buzz
Number 12 results in Fizz
Number 15 results in FizzBuz
Number 18 results in Fizz
Number 20 results in Buzz
Number 21 results in Fizz
Number 24 results in Fizz
Number 25 results in Buzz
Number 27 results in Fizz
Number 30 results in FizzBuz
Number 33 results in Fizz
Number 35 results in Buzz
Number 36 results in Fizz
Number 39 results in Fizz
Number 40 results in Buzz
Number 42 results in Fizz
Number 45 results in FizzBuz
Number 48 results in Fizz
Number 50 results in Buzz
Number 51 results in Fizz
Number 54 results in Fizz
Number 55 results in Buzz
Number 57 results in Fizz
Number 60 results in FizzBuz
Number 63 results in Fizz
Number 65 results in Buzz
Number 66 results in Fizz
Number 69 results in Fizz
Number 70 results in Buzz
Number 72 results in Fizz
Number 75 results in FizzBuz
Number 78 results in Fizz
Number 80 results in Buzz
Number 81 results in Fizz
Number 84 results in Fizz
Number 85 results in Buzz
Number 87 results in Fizz
Number 90 results in FizzBuz
Number 93 results in Fizz
Number 95 results in Buzz
Number 96 results in Fizz
Number 99 results in Fizz

____
**Use List Comprehension to create a list of the first letters of every word in the string below:**

In [23]:
st = 'Create a list of the first letters of every word in this string'

In [25]:
#Code in this cell
[x[0] for x in st.split(" ")]

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

### Great Job!